<app-form-carplate (addCarplate)="addCarplate($event)"></app-form-carplate>

<ng-container *ngIf="errorBlock">
    <div class="error-field">{{ errorText }}</div>
</ng-container>

<br/>
<div class="search">
    <label for="search">search</label>
    <input
        #searchInput 
        type="text"
        name="search"
        placeholder="Johndoe"
    />
    <button class="btn" (click)="searchKeyword(searchInput.value)" >search</button>
</div>

<div class="filters">
    <label for="items_per_page">Items per page</label>
    <select #myFilterSelect ng-model="selectedItemsPerPage" (change)="filterItems(myFilterSelect.value)">
        <option *ngFor="let item of items" [value]="item">{{ item }}</option>
    </select>
</div>

<div class="sort">
    <label for="sort">Sort by</label>
    <select #mySortSelect ng-model="sortOptions" (change)="sortItems(mySortSelect.value)">
        <option *ngFor="let option of sortOptions" [value]="option">{{ option }}</option>
    </select>
</div>

<div class="order">
    <label for="order">Order by</label>
    <select #myOrderSelect ng-model="orderOptions" (change)="orderItems(myOrderSelect.value)">
        <option *ngFor="let option of orderOptions" [value]="option">{{ option }}</option>
    </select>
</div>
<br/>

<app-carplate-item 
    *ngFor="let carplate of carplates"
    [carplate]="carplate"
    (deleteCarplate)="deleteCarplate($event)"
    >
</app-carplate-item>

<div class="pagination">
    <ul>
        <li *ngFor="let pageNumber of pageNumbers">
            <ng-container
                *ngIf="pageNumber.toString() === page.toString(); then active; else inactive">
            </ng-container>
            <ng-template #active>
                <button class="btn active-page" (click)="navigatePage(pageNumber)" >{{pageNumber}}</button>
            </ng-template>
            <ng-template #inactive>
                <button class="btn" (click)="navigatePage(pageNumber)" >{{pageNumber}}</button>
            </ng-template>
        </li>
    </ul>
</div>