<div class="search-form">
    <button mat-raised-button color="basic" (click)="searchKeyword(searchInput.value)" >Find owner</button>
    <mat-form-field class="example-full-width">
        <mat-label>Search</mat-label>
        <input #searchInput matInput name="search" placeholder="Ex. Johndoe">
    </mat-form-field>
    <button class="new-carplate" (click)="createCarplate()" mat-raised-button color="primary">New Carplate</button>
</div>

<br/>
<mat-form-field class="filters-form">
    <mat-label>Items per page</mat-label>
    <select matNativeControl required #myFilterSelect ng-model="selectedItemsPerPage" (change)="filterItems(myFilterSelect.value)">
        <option *ngFor="let item of items" [value]="item">{{ item }}</option>
    </select>
</mat-form-field>

<mat-form-field class="filters-form">
    <mat-label>Sort by</mat-label>
    <select matNativeControl required #mySortSelect ng-model="sortOptions" (change)="sortItems(mySortSelect.value)">
        <option *ngFor="let option of sortOptions" [value]="option">{{ option }}</option>
    </select>
</mat-form-field>

<mat-form-field class="filters-form">
    <mat-label>Order by</mat-label>
    <select matNativeControl required #myOrderSelect ng-model="orderOptions" (change)="orderItems(myOrderSelect.value)">
        <option *ngFor="let option of orderOptions" [value]="option">{{ option }}</option>
    </select>
</mat-form-field>
<br/>
<ng-container *ngIf="errorBlock">
    <div class="error-field">{{ errorText }}</div>
</ng-container>
<br/>
<app-carplate-item 
        *ngFor="let carplate of carplates"
        [carplate]="carplate"
        (removeCarplate)="removeCarplate($event)"
        (editCarplate)="editCarplate($event)"
    >
</app-carplate-item>

<div class="pagination">
    <ul>
        <li *ngFor="let pageNumber of pageNumbers">
            <ng-container
                *ngIf="pageNumber.toString() === page.toString(); then active; else inactive">
            </ng-container>
            <ng-template #active>
                <button class="btn active-page" (click)="navigatePage(pageNumber)" >{{pageNumber}}</button>
            </ng-template>
            <ng-template #inactive>
                <button class="btn" (click)="navigatePage(pageNumber)" >{{pageNumber}}</button>
            </ng-template>
        </li>
    </ul>
</div>