* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
  }
  
  a {
    color: #333;
    text-decoration: none;
  }
  
  .container {
    padding: 0 1rem;
  }
  
  li .btn {
    padding: 10px;
  }
  .active-page {
    opacity: .6;
  }

  .btn, button {
    background: #555;
    color: #fff;
    cursor: pointer;
  }
 
  .btn:hover, .btn-group button:hover {
    opacity: .7;
  }

  .btn-group {
    display: inline;
    float: right;
    cursor: pointer;
  }

  .btn-group button {
    margin-left: 5px;
    padding: 5px;
  }

  .btn-danger {
    background-color: lightcoral;
  }

  .btn-primary {
    background-color: skyblue;
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.carplate {
  background: #f4f4f4;
  padding: 10px;
  border-bottom: 1px #ccc dotted;
}

/* error */

.error-field {
  text-align: center;
  text-transform: capitalize;
  background-color: lightcoral;
  padding: 15px;
  font-weight: bold;
}

/* Pagination */

.pagination {
  margin-top: 15px;
  margin-left: 5px;
}

.pagination ul li{
  display: inline;
}

/* carplate */

div .car-info .name {
  float:left;
}

div .car-info .plate {
  margin-left: 10%;
}

.search-form .new-carplate {
  margin: 5px;
  margin-left: 10px;
}

/* Search & Filters */

.filters-form {
  display: inline-block;
  margin-right: 10px;
}

.search-form button{
  margin-right: 10px;
}

.search-form {
  float:right;
}